.cproject
.project
.pydevproject
.sconsign.dblite

*.pyc
*.suo

.settings/
.localhistory/
Dbg/
Opt/

*/Temp/
*/TestResults/

*/.svn/
.svn/
bin/
Bin/
obj/
_ReSharper.CSharp/
*.opensdf
*.sdf
/CSharp/CSharp.sln.ide
/Library
/CSharp60Support/compilation log.txt
/CSharp/CSharp.VC.opendb
/Log
/Temp
/Logs
/Unity/CSharp60Support/compilation.log
/.vs
/.vsconfig
.vs/
/Tools/MongoDB
/Excel/md5.txt
/Release
.idea/
Logs
/netcoreapp2.0
.DS_Store
.vs/
.objs/
/Unity/.gradle
/*.user
/ToolsApp/
/Unity/Unity.Editor.csproj
Assets/Bundles/Code/Code.dll.bytes
Assets/Bundles/Code/Code.dll.bytes.meta
Assets/Bundles/Code/Code.pdb.bytes
Assets/Bundles/Code/Code.pdb.bytes.meta
Assembly-CSharp.csproj
/Excel/~$*.xlsx